@{
	ViewBag.Title = "Öğrenci Ekleme";
}
<h2>Öğrenci Ekleme</h2>
<br /><br />
<form action="FormExample/OgrenciEkle" method="post">
	<label>Ad</label>
	<br />
	<input type="text" name="UserName" />
	<br />
	<br />
	<label>Soyad</label>
	<br />
	<input type="text" name="UserSurName" />
	<br/>
	<br/>
	<input type="submit" value="KAYDET" />
</form>